@model  StorageProject5.ViewModels.ListOfAminIndex
@{
    ViewBag.Title = "AdminIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AdminIndex</h2>


<h1>------------------------------------------------------------------------------------</h1>

<div class="container">
    @foreach (var item in Model.rentals)
    {
    <div class="row">

        <div class="jumbotron">
            <h1>Customer Name: @Html.ActionLink(@item.customerName, "Edit", "Customers", new { id = item.customerId }, null )</h1>
            <h2>Shipping Numbers  @item.rentalName</h2>
            <h3> Want to rent : </h3>
            @foreach (var furniture in item.Furnitures)
            {
            <p><a class="btn btn-primary btn-lg" href="#" role="button"> @furniture.Name Detail</a></p>
            
            }

        </div>
      

       
    </div>

    }
</div>

<h1>------------------------------------------------------------------------------------</h1>
