

@model StorageProject5.ViewModels.RentalFurnitureViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index Rental</h2>


<div class="container">
    <div class="row">
       

        @foreach (var item in Model.availableFurnitures)
        {
            <div class="panel panel-default">
                <div class="panel-body">

                    <h1>@item.Name - <span class="label label-warning">Available</span></h1>
                    <h3></h3>
                </div>
                <div class="panel-footer">

                    <div>@Html.ActionLink("Rented", "New", "Rentals", new { id = item.Id }, new { @class = "btn btn-primary" })</div>
                </div>
            </div>

        }
    </div>
</div>
