@model StorageProject5.ViewModels.FourniturePartViewModel
@{
    ViewBag.Title = "AdminListFurniture";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AdminListFurniture</h2>



@foreach (var item in Model.Furnitures)
{
    <h1>
        @Html.ActionLink(item.Name, "AdminFurnitureParts", "Furnitures", new { id = item.Id }, null)

       
    </h1>
    <ul>
        @foreach (var item2 in Model.Parts)
        {
            if (item2.FurnitureId == item.Id)
            {
                <li>@item2.Name</li>
            }

        }

    </ul>
}