@model StorageProject5.ViewModels.FourniturePartViewModel
@{
    ViewBag.Title = "AdminFurnitureParts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AdminFurnitureParts</h2>

<h2>Administration Storage</h2>

<h1> @Model.Furniture.Name</h1>


<p class="btn btn-success" onclick="addNewPart()">add a new part</p>


@using (Html.BeginForm("Create", "Parts"))
{
    @Html.HiddenFor(m => m.Furniture.Id)
<div id="form_place">
    @*<div class="form-group">
            @Html.LabelFor(m => m.Part.Name)
            @Html.TextBoxFor(m => m.Part.Name, new { @class = "form-control" })
        </div>*@

</div>
<button type="submit" class="btn btn-danger">Submit</button>
}



<script>
    function addNewPart() {


        var test = "<div class='form-group'><label for='Part_Name'>Name</label><input class='form-control' id='Part_Name' name='Part.Name[]' type='text' value=''></div><div class='form-group'><label for='Location_Address'>Address</label><input class='form-control' id='Location_Address' name='Location.Address[]' type='text' value=''></div>";



        var newPlace = document.querySelector("#form_place");
        newPlace.insertAdjacentHTML('beforeend', test);
    }
</script>
