@model StorageProject5.Models.Furniture
@{
    ViewBag.Title = "Show";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>
    @TempData["message"]
</h1>
<h2>Details of deposit furniture </h2>

<h3>
    Your <span style="color:red;font-weight:600;">@Model.Name</span>  is successfully deposit to Company Name Thanks for use us services.
</h3>



